@import url('//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html { font-size: 62.5% }
body {font-family: 'Roboto', sans-serif;}

$height: 4.6rem;
$c-grey: #ccc;
$c-black: #000;
$c-white: #FFF;

a, a:visited {
  text-decoration: none;
  color: $c-black;
}

#app {
  background: $c-white;
  min-height: 100vh;
  padding: 6rem 30% 4rem;
}

.header {
  background: $c-grey;
  width: 100%;
  padding: 1rem 30%;
  height: 6rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 4px 0px rgba($c-black, .2);
  z-index: 50;
  
  &--fixed {
    position: fixed;
    left: 0;
    top: 0;
  }
  
  &__logo {
    position: absolute;
    left: 4rem;
  }
  
  &__mode {
    margin-right: 2rem;
    position: absolute;
    top: 50%;
    left: 10rem;
    transform: translateY(-50%);
  }
  
  &__form {
    width: 100%;
  }
  
  &__tasks {
    position: absolute;
    right: 4rem;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
    margin: 0;
    font-size: 1.8rem;
  }
}

.logo {
  &__image {
    width: 42px;
    height: 42px;
  }
}

.title {
  margin: 0;
  padding: 2rem;
  text-align: center;
  width: 100%;
  font-size: 3rem;
}

.input {
  -webkit-appearance: none;
  background: rgba(#FFF, .3);
  border: 0;
  padding: 0 2rem;
  height: $height;
  font-size: 2rem;
  outline: none;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

.mode {
  display: flex;
  align-items: center;
  $p: &;
  
  &__caption {
    font-size: 1.4rem;
    margin-right: 1rem;
    min-width: 4rem;
    text-align: right;
    cursor: pointer;
  }
}

.tasks {
  margin-top: 1rem;
  position: relative;
  $p: &;
  
  &__message {
    text-align: center;
    font-size: 1.5rem;
    line-height: 4.6rem;
    opacity: .4;
  }
  
  &__action {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3rem;
    height: $height;
    background: $c-grey;
    display: flex;
    width: 5rem;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 0;
    
    #{$p} & {
      opacity: 1;
    }
  }
  
  .input {  
    background: rgba(#FFF, 0);
    
    &:focus {
      background: rgba(#FFF, 0.2);
    }
  }
  
  &__row {
    position: relative;
  }
}

.row {
  position: relative;
  $p: &;
  
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 1px;
    background: $c-black;
    transition: none;
  }

  &-icon {
    font-size: 2rem;
  }
  
  &--done {
    &::after {
      width: 100%;
      transition: width .3s ease;
    }
  }
  
  &__id {
    
    #{$p}:hover & { 
      opacity: 1;
    }
      
    position: absolute;
    top: 50%;
    left: -4rem;
    transform: translateY(-50%);
    opacity: 0;
    font-size: 1.5rem;
    transition: opacity .3s ease;
  }
  
  &__input {}
  
  &__actions {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transition: opacity .3s ease;
    border-radius: 3px;
    overflow: hidden;
    
    #{$p}:hover & { 
      opacity: 1;
    }
  }

  &__links {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    opacity: 1;
    transition: opacity .3s ease;
    transform: translateX(120%);
    display: flex;
    align-items: center;
    border-radius: 3px;
    overflow: hidden;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  
  &__item {
    height: 100%;
    width: 4rem;
    background: $c-grey;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    &:hover {
      background: #eee;
    }

    &--nobg {
      background: none;
    }
  }
}

.row {
  max-height: 100px;
  opacity: 1;
  transition: max-height .3s ease, opacity .3s ease;
}

.todo {
  .row.row--done {
    max-height: 0;
    opacity: 0;
  }
}